'.text.html.basic':
  'a link':
    'prefix': 'alink'
    'body': '<a href="$1" target="_blank" rel="nofollow noopener">$2</a>'
  'zaif':
    'prefix': 'zaif'
    'body': '<a href="https://zaif.jp?ac=kv0eo8m3w2" target="_blank" rel="nofollow noopener">Zaif(ザイフ)</a>'
  'coincheck':
    'prefix': 'coincheck'
    'body': '<a href="https://coincheck.com/?c=yU_pr0rsOKI" target="_blank" rel="noopener">Coincheck(コインチェック)</a>'
  'bitflyer':
    'prefix': 'bitflyer'
    'body': '<a href="https://bitflyer.jp?bf=2epg3eye" target="_blank" rel="noopener">bitFlyer(ビットフライヤー)</a>'
  'sobig':
    'prefix': 'sobig'
    'body': '<span class="sobig">$1</span>'
  'big':
    'prefix': 'big'
    'body': '<span class="big">$1</span>'

