'.text.html.basic':
  'a link':
    'prefix': 'alink'
    'body': '<a href="$1" target="_blank" rel="nofollow noopener">$2</a>'
  'zaif':
    'prefix': 'zaif'
    'body': '<a href="https://zaif.jp?ac=kv0eo8m3w2" target="_blank" rel="nofollow noopener">Zaif(ザイフ)</a>'
  'coincheck':
    'prefix': 'coincheck'
    'body': '<a href="https://coincheck.com/?c=yU_pr0rsOKI" target="_blank" rel="noopener">Coincheck(コインチェック)</a>'
  'bitflyer':
    'prefix': 'bitflyer'
    'body': '<a href="https://bitflyer.jp?bf=2epg3eye" target="_blank" rel="noopener">bitFlyer(ビットフライヤー)</a>'
  'sobig':
    'prefix': 'sobig'
    'body': '<span class="sobig"><b>$1</b></span>'
  'big':
    'prefix': 'big'
    'body': '<span class="big"><b>$1</b></span>'
  'reference':
    'prefix': 'reference'
    'body': '<a class="reference table" href="$1" target="_blank" rel="nofollow">\n<div class="tbcell">参考</div>\n<p class="tbcell">$2<span>$3</span></p>\n</a>'
  'olrich':
    'prefix': 'olrich'
    'body': '<div class="sng-box box31">\n<div class="box-title">$1</div>\n<div class="ol-circle li-mainbdr main-bc-before">\n<ol>\n<li>$2</li>\n</ol>\n</div>\n</div>'
  'nikukyu_list':
    'prefix': 'nikukyu_list'
    'body': '<div class="sng-box box32">\n<div class="box-title">$1</div>\n<div class="li-niku li-mainbdr main-c-before">\n<ul>\n<li>$2</li>\n</ul>\n</div>\n</div>'
  'say_left':
    'prefix': 'lsay'
    'body': '<div class="say left">\n<p class="faceicon"><img src="https://yabaiwebyasan.com/wp-content/uploads/2018/02/%E3%83%A4%E3%83%8F%E3%82%99%E3%82%A4WEB%E5%B1%8B%E3%81%95%E3%82%93.jpg"><span>ヤバWEB</span></p>\n<div class="chatting">\n<div class="sc">$1</div>\n</div>\n</div>'
  'say_right':
    'prefix': 'rsay'
    'body': '<div class="say right">\n<div class="chatting">\n<div class="sc">$1</div>\n</div>\n<p class="faceicon"><img src="https://yabaiwebyasan.com/wp-content/uploads/2017/12/%E3%82%86%E3%81%8B%E3%81%A1%E3%81%83-e1512635530909.png"><span>うぇぶ子</span></p>\n</div>'
  'youtube':
    'prefix': 'youtube'
    'body': '<script src="https://apis.google.com/js/platform.js"></script><div class="g-ytsubscribe" data-channelid="UClcWgUnEr79fJBcpqnm4M1w" data-layout="full" data-count="default"></div>'

